{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'price/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	{% comment %} <link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon"/> {% endcomment %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<table class="table-content" border=0 cellpadding="0" cellspacing="0">
		<tr>
			<!-- Sidebar слева -->
			<td valign="top" class="left-chapters">
				<ul>
					{% if cat_selected == 0 %}
							<li class="selected">Все категории</li>
					{% else %}
							<li><a href="{% url 'price' %}">Все категории</a></li>
					{% endif %}

					{% for c in cats %}
					{% if c.service__count > 0 %}
						{% if c.pk == cat_selected %}
							<li class="selected">{{c.name}}</li>
						{% else %}
							<li><a href="{{ c.get_absolute_url }}">{{c.pk}}. {{c.name}}</a></li>
						{% endif %}
					{% endif %}
					{% endfor %}
				</ul>
			</td>
			<!-- Конец Sidebar'а -->

			<td valign="top" class="content">
				<div class="content-text">



					{% block content %}
					{% endblock %}



					{% if page_obj.has_other_pages %}
						<nav class="list-pages">
							<ul>
								{% if page_obj.has_previous %}
									<li class="page-num">
										<a href="?page={{ page_obj.previous_page_number }}">&lt;</a>
									</li>
								{% endif %}

								{% for p in paginator.page_range %}
									{% if page_obj.number == p %}
										<li class="page-num page-num-selected">{{ p }}</li>
									{% elif p >= page_obj.number|add:-3 and p <= page_obj.number|add:3  %}
										<li class="page-num">
											<a href="?page={{ p }}">{{ p }}</a>
										</li>
									{% endif %}
								{% endfor %}

								{% if page_obj.has_next %}
									<li class="page-num">
										<a href="?page={{ page_obj.next_page_number }}">&gt;</a>
									</li>
								{% endif %}
							</ul>
						</nav>
					{% endif %}
				</div>
			</td>
		</tr>
	</table>
</body>
</html>
