{% extends 'price/base.html' %}

{% block content %}
	<ul class="list-articles">
			{% for p in services %}
				<li>
					<div class="article-panel">
						<p class="first">Категория: {{p.cat}}</p>
						<p class="last">Цена: {{p.price}} руб / {{p.unit}}</p>
					</div>

					<h2>{{p.title}}</h2>
					{% autoescape on %}
						{{p.content|linebreaks|truncatewords:50}}
					{% endautoescape %}
					<div class="clear"></div>
					<p class="link-read-post"><a href="{{ p.get_absolute_url }}">Подробно</a></p>
				</li>
			{% endfor %}
	</ul>
{% endblock %}
