{% extends "online_registration/base.html" %}
{% load static %}
{% block index %}
<div>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1 align="center">Оставь заявку</h1>
            <h3 align="center">{{ step }}</h3>
        </div>
    </div>

    {% if step_1 %}
        <form action="{% url 'online_registration:main_page' %}" method="GET" style="width 50%;">
            <div align="center" class="row">
                <div class="col-3"></div>
                <div class="col-2">Выберете дату:</div>
                <div class="col-2"><input type="date" id="start" name="date" value={{min_day_value}} min={{min_day_value}} max="2025-01-01"></div>
                <div class="col-2"><button type="submit" class="btn btn-success">ДАЛЕЕ</button></div>
            </div>
        </form>
    {% endif %}

    {% if step_2 %}
        <h3 align="center">Выбрана дата: {{choised_day}}</h3>
        <form action="{% url 'online_registration:thanks_page' %}" method="POST" style="width 50%;">
        {% csrf_token %}

            <div align="center" class="row">
                <div class="col-3"></div>
                <div class="col-3">Выберете доступное время:</div>
                <div class="col-3">
                    <select name="time" id="select" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        {% for time in all_time %}
                            <option value="{{time}}">{{time}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <label>Имя</label>
                    <input type="text" value="" name="name" class="form-control">
                    <label>Телефон</label>
                    <input type="text" value="" name="phone" class="form-control">
                </div>
            </div>

            <input type="hidden" name="date" value="{{choised_day}}">

            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div style="float: left;" class="form-group row">
                        <a href="{% url 'online_registration:main_page' %}" type="submit" class="btn btn-danger">ВЫБРАТЬ ДРУГУЮ ДАТУ</a>
                    </div>
                    <div style="float: right;" class="form-group row">
                        <button type="submit" class="btn btn-success">ОТПРАВИТЬ ЗАЯВКУ</button>
                    </div>
                </div>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}
