{% extends 'works/base.html' %}

{% block content %}
<td align="right"><blockquote>
	<h1 align="center">Анализ несущей способности грунта</h1>
	<p align="justify">Тип и размер  фундамента будущего дома зависит от несущей способности грунта на участке под  строительство. Любой грунт обладает несущей способностью. Т.е способностью,  выдерживать какую либо нагрузку на единице своей площади. Такая характеристика  измеряется в т/м2. Под нагрузкой здесь понимается масса всего дома, а не только  фундамента. Несущая способность грунта в данном случае обратно  пропорциональна&nbsp; площади основания  фундамента. Несущею способность грунта определяют состав грунта, плотность  грунта и насыщенность влагой. Примерные значения несущей способности разных  грунтов приведены в таблице.</p>
	<table border="1" cellspacing="0" cellpadding="0" width="100%">
	<tr>
		<td colspan="2" rowspan="2"><div align="center"><br />
		Грунты<br />
		</div></td>
		<td colspan="2"><p align="center">Несущая способность, т/м2</p></td>
	</tr>
	<tr>
		<td width="20%"><p align="center">Плотный грунт</p></td>
		<td width="30%"><p align="center">Грунт средней плотности</p></td>
	</tr>
	<tr>
		<td width="17%" rowspan="4"><p align="center">Песок</p></td>
		<td width="33%"><p align="center">Крупный гравелистый</p></td>
		<td><p align="center">60</p></td>
		<td><p align="center">50</p></td>
	</tr>
	<tr>
		<td><p align="center">Средней крупности</p></td>
		<td><p align="center">50</p></td>
		<td><p align="center">40</p></td>
	</tr>
	<tr>
		<td><p align="center">Мелкий, маловлажный</p></td>
		<td><p align="center">40</p></td>
		<td><p align="center">30</p></td>
	</tr>
	<tr>
		<td><p align="center">Мелкий, насыщенный влагой</p></td>
		<td><p align="center">30</p></td>
		<td><p align="center">20</p></td>
	</tr>
	<tr>
		<td rowspan="2"><p align="center">Супеси</p></td>
		<td><p align="center">Сухие</p></td>
		<td><p align="center">30</p></td>
		<td><p align="center">25</p></td>
	</tr>
	<tr>
		<td><p align="center">Насыщенные влагой</p></td>
		<td><p align="center">&nbsp;25</p></td>
		<td><p align="center">20</p></td>
	</tr>
	<tr>
		<td rowspan="2"><p align="center">Суглинки</p></td>
		<td><p align="center">Сухие</p></td>
		<td><p align="center">30</p></td>
		<td><p align="center">20</p></td>
	</tr>
	<tr>
		<td><p align="center">Насыщенные влагой</p></td>
		<td><p align="center">30</p></td>
		<td><p align="center">10</p></td>
	</tr>
	<tr>
		<td rowspan="2"><p align="center">Глины</p></td>
		<td><p align="center">Сухие</p></td>
		<td><p align="center">60</p></td>
		<td><p align="center">25</p></td>
	</tr>
	<tr>
		<td><p align="center">Насыщенные влагой</p></td>
		<td><p align="center">40</p></td>
		<td><p align="center">10</p></td>
	</tr>
	</table>
	<p align="justify">Как видно из  таблицы насыщение влагой грунта существенно уменьшает его несущую способность.  Исключение составляют только крупные и средние пески.</p>
	<p align="justify">Определить  несущую способность грунта можно самостоятельно, без привлечения специальных  организаций. Для этого необходимо сделать яму на глубину промерзания грунта,  примерно на 1,5-2м. Далее определяем насыщенность влагой и состав грунта на  этой глубине. Если на дне ямы со временем не скапливается вода, то грунт можно  считать сухим.</p>
	<p align="justify"><strong>Песок</strong> состоит из отдельных песчинок, при растирании  песчаного грунта меду ладонями они отчетливо чувствуются.&nbsp;<strong>Крупный  песок</strong>&nbsp;имеет  размер частиц от 0,25 до 5 мм,  такие частицы хорошо видны невооруженным глазом, а&nbsp;<strong>песок  средней плотности</strong>&nbsp;имеет  размер песчинок до 2 мм.</p>
	<p align="justify"><strong>Супесь</strong>&nbsp;содержит не более 10 % глинистых частиц, в сухом состоянии она  крошится, если скатать из неё шарик, то он рассыпается при лёгком давлении на  него.</p>
	<p align="justify"><strong>Суглинок</strong>&nbsp;содержит от 10 % до 30 % глинистых частиц, обладает большей  пластичностью, чем супесь. Если из суглинка сделать шар и раздавить его, то он  превращается в лепёшку с трещинами по краям.</p>
	<p align="justify"><strong>Глина</strong>&nbsp;&ndash; наиболее пластичный грунт, если раздавить шар, сделанный из  глины, то он превратится в лепёшку, на краях которой не будет трещин.<br />
    <p align="justify">Для  упрощенных и приблизительных расчетов несущую способность грунта принимают равной  20 т/м2. </p>
</blockquote></td>
{% endblock %}
