{% load static %}
<!DOCTYPE html>
<html lang="ru">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<link rel="shortcut icon" href="{% static "images/0000.ico" %}">
		<title>Экранстрой</title>
		<meta name="keywords" content="строительство домов, стоимость строительства, технологии строительства">
		<meta name="description" content="Экранстрой. Строительство домов из кирпича и стеновых блоков, земляные и бетонные работы, монтаж кровли и ограждений, отделка под ключ, коммуникации.">
		<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}">
	</head>

	<body>
		<div class="container">
			<div class="row" align="right">
				<div class="col-12">
					{% if user.is_authenticated %}
						ВЫ ВОШЛИ КАК: <a href="{% url "login" %}" class="btn btn-warning">{{user}}</a>
						<a href="{% url "logout" %}" class="btn btn-warning">ВЫЙТИ</a>
						<a href="{% url "likes:my_likes" %}" class="btn btn-warning">ИЗБРАННОЕ</a>
						<a href="{% url "blog:post_list" %}" class="btn btn-warning">ОБСУЖДЕНИЯ</a>
						<a href="{% url "online_registration:main_page" %}" class="btn btn-warning">ЗАЯВКА</a>
						{% if user.is_superuser %}
							<a href="admin/" class="btn btn-warning">АДМИНКА</a>
						{% endif %}
						{% if user.username == 'vsp44' %}
							<a href="secret/" class="btn btn-warning">СЕКРЕТ</a>
						{% endif %}
					{% else %}
						<a href="{% url "login" %}" class="btn btn-warning">ВОЙТИ</a>
						<a href="{% url "register" %}" class="btn btn-warning">ЗАРЕГИСТРИРОВАТЬСЯ</a>
					{% endif %}
				</div>
			</div>

			<div class="row" align="right">
				<img src="{% static "images/name.jpg" %}">
			</div>

			<div class="row" align="center">
				<div class="col-12">
					<a href="{% url "index" %}" class="btn btn-warning">ГЛАВНАЯ</a>
					<a href="{% url "o_nas" %}" class="btn btn-warning">О НАС</a>
					<a href="{% url "uslugi" %}" class="btn btn-warning">УСЛУГИ</a>
					<a href="{% url "price" %}" class="btn btn-warning">ЦЕНЫ</a>
					<a href="{% url "technologi" %}" class="btn btn-warning">ТЕХНОЛОГИИ</a>
					<a href="{% url "nasi_raboti" %}" class="btn btn-warning">НАШИ РАБОТЫ</a>
					<a href="{% url "contacts" %}" class="btn btn-warning">КОНТАКТЫ</a>
				</div>
			</div>

			<div class="row">
				<div class="col-4">
					<a href="{% url 'gostinica' %}"><img src="{% static "images/gostinica_logo.jpg" %}" hspace="0" vspace="10" align="left"></a>
					<br><br><br><br><br><br><p>ГОСТИНИЦА</p>
					<a href="{% url 'dom' %}"><img src="{% static "images/dom_logo.jpg" %}" hspace="0" vspace="10" align="left"></a>
					<br><br><br><br><br><br><p>ДОМ</p>
					<a href="{% url 'otdelka' %}"><img src="{% static "images/otdelka_logo.jpg" %}" hspace="0" vspace="10" align="left"></a>
					<br><br><br><br><br><br><p>ВНУТРЕННЯЯ ОТДЕЛКА</p>
					<a href="{% url 'avtoservis' %}"s><img src="{% static "images/avtoserv_logo.jpg" %}" hspace="0" vspace="10" align="left"></a>
					<br><br><br><br><br><br><p>АВТОСЕРВИС</p>
				</div>
				<div class="col-8">
					{% block content %}
					{% endblock %}
				</div>
			</div>


			<div class="row" align="center">
				<div class="col-12">
					<a href="" class="btn btn-warning">«ЭкранСтрой» © 2013 • Все права защищены • Разработано Студия Рекламы «Идея»</a>
				</div>
			</div>
		</div>
	</body>
</html>
