{% extends 'works/base.html' %}

{% block content %}

<blockquote>
<h1>Строительная фирма Тулы - ЭкранСтрой</h1>
<p><strong>ИП Спесивцев Алексей Николаевич</strong><br />
ИНН: 711804606423<br />
ОГРНИП: 3147155433000183 <br />
<p><strong>Контактный телефон:</strong><br />
8-905-628-10-27 <br />
<strong>E-mail:</strong> ekranstroy@yandex.ru </strong></p>
<p>Наша строительная фирма предлагает полный спектр услуг в области строительства и отделки объектов &quot;под ключ&quot;. Мы выполняем все виды работ и услуг с высоким качеством и в короткие сроки. <br />
</p>
<p>&nbsp;</p>
</blockquote>

{% endblock %}
