{% extends 'works/base.html' %}
{% load static %}
{% block content %}
<td width="576">
<h1 align="center">Дом в Щекино </h1>
<p align="center"><a href="{% static "dom/big/01.jpg" %}"><img src="{% static "dom/01.jpg" %}"></a></p>
<p align="center"><a href="{% static "dom/big/02.jpg" %}"><img src="{% static "dom/02.jpg" %}"></a></p>
<p align="center"><a href="{% static "dom/big/03.jpg" %}"><img src="{% static "dom/03.jpg" %}"></a></p>
<p align="center"><a href="{% static "dom/big/04.jpg" %}"><img src="{% static "dom/04.jpg" %}"></a></p>
<p align="center"><a href="{% static "dom/big/05.jpg" %}"><img src="{% static "dom/05.jpg" %}"></a></p>
<p align="center"><a href="{% static "dom/big/06.jpg" %}"><img src="{% static "dom/06.jpg" %}"></a></p>
</td>
{% endblock %}
