{% extends 'works/base.html' %}
{% load static %}
{% block content %}
<h1 align="center">Этапы строительства</h1>
<blockquote>
<p align="justify">Здесь представлены основные этапы строительства на примере индивидуального жилого дома размером 10 х12 метров. Дом имеет 3 уровня, выполнен из облицовочного кирпича, утеплителя и шлакоблока.</p>
</blockquote>
<p align="center"><a href="{% static "etapy/big/01.jpg" %}"><img src="{% static "etapy/01.jpg" %}"></a></p>
<p align="center">01. Подготовка котлована (7 мая 2012)</p>
<p align="center"><a href="{% static "etapy/big/02.jpg" %}"><img src="{% static "etapy/02.jpg" %}"></a></p>
<p align="center">02. Монтаж подушки</p>
<p align="center"><a href="{% static "etapy/big/03.jpg" %}"><img src="{% static "etapy/03.jpg" %}"></a></p>
<p align="center">03. Монтаж подушки (12 мая 2012)</p>
<p align="center"><a href="{% static "etapy/big/04.jpg" %}"><img src="{% static "etapy/04.jpg" %}"></a></p>
<p align="center">04. Монтаж фундаментных блоков (19 мая 2012)</p>
<p align="center"><a href="{% static "etapy/big/05.jpg" %}"><img src="{% static "etapy/05.jpg" %}"></a></p>
<p align="center">05. Монтаж пояса цокольного этажа (21 мая 2012)</p>
<p align="center"><a href="{% static "etapy/big/06.jpg" %}"><img src="{% static "etapy/06.jpg" %}"></a></p>
<p align="center">06. Устройство стяжки</p>
<p align="center"><a href="{% static "etapy/big/07.jpg" %}"><img src="{% static "etapy/07.jpg" %}"></a></p>
<p align="center">07 Перекрытие цокольного этажа (27 мая 2012)</p>
<p align="center"><a href="{% static "etapy/big/08.jpg" %}"><img src="{% static "etapy/08.jpg" %}"></a></p>
<p align="center">08. Подготовка к возведению стен</p>
<p align="center"><a href="{% static "etapy/big/09.jpg" %}"><img src="{% static "etapy/09.jpg" %}"></a></p>
<p align="center">09. Возведение стен первого этажа (17 июня 2012)</p>
<p align="center"><a href="{% static "etapy/big/10.jpg" %}"><img src="{% static "etapy/10.jpg" %}"></a></p>
<p align="center">10. Монтаж пояса первого этажа</p>
<p align="center"><a href="{% static "etapy/big/11.jpg" %}"><img src="{% static "etapy/11.jpg" %}"></a></p>
<p align="center">11. Монтаж пояса первого этажа (20 июня 2012)</p>
<p align="center"><a href="{% static "etapy/big/12.jpg" %}"><img src="{% static "etapy/12.jpg" %}"></a></p>
<p align="center">12. Перекрытие первого этажа (20 июня 2012)</p>
<p align="center"><a href="{% static "etapy/big/13.jpg" %}"><img src="{% static "etapy/13.jpg" %}"></a></p>
<p align="center">13. Подготовка к возведению франтонов</p>
<p align="center"><a href="{% static "etapy/big/14.jpg" %}"><img src="{% static "etapy/14.jpg" %}"></a></p>
<p align="center">14. Возведение франтонов (14 июля 2012)</p>
<p align="center"><a href="{% static "etapy/big/15.jpg" %}"><img src="{% static "etapy/15.jpg" %}"></a></p>
<p align="center">15. Перекрытие мансардного этажа</p>
<p align="center"><a href="{% static "etapy/big/16.jpg" %}"><img src="{% static "etapy/16.jpg" %}"></a></p>
<p align="center">16. Монтаж кровли</p>
<p align="center"><a href="{% static "etapy/big/17.jpg" %}"><img src="{% static "etapy/17.jpg" %}"></a></p>
<p align="center">17. Монтаж кровли (17 августа 2012)</p>
<p align="center"><a href="{% static "etapy/big/18.jpg" %}"><img src="{% static "etapy/18.jpg" %}" /></a></p>
<p align="center">18. Устройство ограждения (16 сентября 2012)</p>
<p align="center"><a href="{% static "etapy/big/19.jpg" %}"><img src="{% static "etapy/19.jpg" %}"></a></p>
<p align="center">19. Остекление</p>
{% endblock %}
