{% extends 'works/base.html' %}
{% load static %}
{% block content %}
<td width="565">
	<h1 align="center">Гостевой дом на Ивановских дачах</h1>
	<p align="center"><a href="{% static "gostinica/big/01.jpg" %}"><img src="{% static "gostinica/01.jpg" %}"></a></p>
	<p align="center"><a href="{% static "gostinica/big/02.jpg" %}"><img src="{% static "gostinica/02.jpg" %}"></a></p>
	<p align="center"><a href="{% static "gostinica/big/03.jpg" %}"><img src="{% static "gostinica/03.jpg" %}"></a></p>
	<p align="center"><a href="{% static "gostinica/big/04.jpg" %}"><img src="{% static "gostinica/04.jpg" %}"></a></p>
	<p align="center"><a href="{% static "gostinica/big/05.jpg" %}"><img src="{% static "gostinica/05.jpg" %}"></a></p>
	<p align="center"><a href="{% static "gostinica/big/06.jpg" %}"><img src="{% static "gostinica/06.jpg" %}"></a></p>
	<p align="center"><a href="{% static "gostinica/big/07.jpg" %}"><img src="{% static "gostinica/07.jpg" %}"></a></p>
	<p align="center"><a href="{% static "gostinica/big/08.jpg" %}"><img src="{% static "gostinica/08.jpg" %}"></a></p>
	<p align="center"><a href="{% static "gostinica/big/09.jpg" %}"><img src="{% static "gostinica/09.jpg" %}"></a></p>
</td>
{% endblock %}
