{% extends 'works/base.html' %}
{% load static %}
{% block content %}
<td width="576">

<h1 align="center">Наши работы</h1>
<blockquote>
	<p align="justify">Здесь представлены некоторый наши строительные и отделочные работы.</p>
</blockquote>

<p align="center">Строительство и внутренная отделка магазина в Ясногорске</p>
<p align="center"><a href="{% static "nasi_raboti_big/1_1.jpg" %}"><img src="{% static "nasi_raboti/1_1.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/1_2.jpg" %}"><img src="{% static "nasi_raboti/1_2.jpg" %}"></a></p>
<p align="center">Отделка квартиры в Туле "под Ключ"</p>
<p align="center"><a href="{% static "nasi_raboti_big/2_1.jpg" %}"><img src="{% static "nasi_raboti/2_1.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/2_2.jpg" %}"><img src="{% static "nasi_raboti/2_2.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/2_3.jpg" %}"><img src="{% static "nasi_raboti/2_3.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/2_4.jpg" %}"><img src="{% static "nasi_raboti/2_4.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/2_5.jpg" %}"><img src="{% static "nasi_raboti/2_5.jpg" %}"></a></p>
<p align="center">Реконструкция крыши дома, монтаж жилой мансарды в Щекино</p>
<p align="center"><a href="{% static "nasi_raboti_big/3_1.jpg" %}"><img src="{% static "nasi_raboti/3_1.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/3_2.jpg" %}"><img src="{% static "nasi_raboti/3_2.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/3_3.jpg" %}"><img src="{% static "nasi_raboti/3_3.jpg" %}"></a></p>
<p align="center">Отделка квартиры "под Ключ" в Туле </p>
<p align="center"><a href="{% static "nasi_raboti_big/4_1.jpg" %}"><img src="{% static "nasi_raboti/4_1.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/4_2.jpg" %}"><img src="{% static "nasi_raboti/4_2.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/4_3.jpg" %}"><img src="{% static "nasi_raboti/4_3.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/4_4.jpg" %}"><img src="{% static "nasi_raboti/4_4.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/4_5.jpg" %}"><img src="{% static "nasi_raboti/4_5.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/4_6.jpg" %}"><img src="{% static "nasi_raboti/4_6.jpg" %}"></a></p>
<p align="center">Строительство трехэтажного дома д. Прудное</p>
<p align="center"><a href="{% static "nasi_raboti_big/5_1.jpg" %}"><img src="{% static "nasi_raboti/5_1.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/5_2.jpg" %}"><img src="{% static "nasi_raboti/5_2.jpg" %}"></a></p>
<p align="center">Реконструкция дома, увеличение жилой площади в Ленинском районе</p>
<p align="center"><a href="{% static "nasi_raboti_big/6_1.jpg" %}"><img src="{% static "nasi_raboti/6_1.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/6_2.jpg" %}"><img src="{% static "nasi_raboti/6_2.jpg" %}"></a></p>
<p align="center">Строительство дома, монтаж отопления в Мясново</p>
<p align="center"><a href="{% static "nasi_raboti_big/7_1.jpg" %}"><img src="{% static "nasi_raboti/7_1.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/7_2.jpg" %}"><img src="{% static "nasi_raboti/7_2.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/7_3.jpg" %}"><img src="{% static "nasi_raboti/7_3.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/7_4.jpg" %}"><img src="{% static "nasi_raboti/7_4.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/7_5.jpg" %}"><img src="{% static "nasi_raboti/7_5.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/7_6.jpg" %}"><img src="{% static "nasi_raboti/7_6.jpg" %}"></a></p>
<p align="center">Отделка этажа частного дома "под Ключ" в Щекино </p>
<p align="center"><a href="{% static "nasi_raboti_big/8_1.jpg" %}"><img src="{% static "nasi_raboti/8_1.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/8_2.jpg" %}"><img src="{% static "nasi_raboti/8_2.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/8_3.jpg" %}"><img src="{% static "nasi_raboti/8_3.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/8_4.jpg" %}"><img src="{% static "nasi_raboti/8_4.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/8_5.jpg" %}"><img src="{% static "nasi_raboti/8_5.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/8_6.jpg" %}"><img src="{% static "nasi_raboti/8_6.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/8_7.jpg" %}"><img src="{% static "nasi_raboti/8_7.jpg" %}"></a></p>
<p align="center"><a href="{% static "nasi_raboti_big/8_8.jpg" %}"><img src="{% static "nasi_raboti/8_8.jpg" %}"></a></p>

</td>
{% endblock %}
