{% extends 'works/base.html' %}
{% load static %}
{% block content %}
<td width="533">
	<blockquote>
	<h1 align="center">Внутренняя отделка</h1>
	</blockquote>
	<p align="center"><a href="{% static "otdelka/big/01.jpg" %}"><img src="{% static "otdelka/01.jpg" %}" alt=""></a></p>
	<p align="center"><a href="{% static "otdelka/big/02.jpg" %}"><img src="{% static "otdelka/02.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/03.jpg" %}"><img src="{% static "otdelka/03.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/04.jpg" %}"><img src="{% static "otdelka/04.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/05.jpg" %}"><img src="{% static "otdelka/05.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/06.jpg" %}"><img src="{% static "otdelka/06.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/07.jpg" %}"><img src="{% static "otdelka/07.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/08.jpg" %}"><img src="{% static "otdelka/08.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/09.jpg" %}"><img src="{% static "otdelka/09.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/10.jpg" %}"><img src="{% static "otdelka/10.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/11.jpg" %}"><img src="{% static "otdelka/11.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/12.jpg" %}"><img src="{% static "otdelka/12.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/13.jpg" %}"><img src="{% static "otdelka/13.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/14.jpg" %}"><img src="{% static "otdelka/14.jpg" %}"></a></p>
	<p align="center"><a href="{% static "otdelka/big/15.jpg" %}"><img src="{% static "otdelka/15.jpg" %}"></a></p>
</td>
{% endblock %}
