{% extends 'works/base.html' %}

{% block content %}
				<tr>
					<td align="right"><blockquote>
					  <h1 align="center">Цены на строительные и отделочные работы</h1>
                      <table border="1" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="top"><h1>Наименование работ</h1></td>
                          <td valign="top"><p align="center"><strong>Ед. изм</strong>.</p></td>
                          <td valign="top"><p align="center"><strong>Стоимость в руб. </strong></p></td>
                        </tr>
                        <tr>
                          <td valign="top"><h1 align="center">Строительные работы</h1></td>
                          <td valign="top"><p align="center">&nbsp;</p></td>
                          <td valign="top"><p align="center">&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство бетонных полов 10см</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">550</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство бетонных полов 10см с армированием</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">650</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Кирпичная кладка черновая</p></td>
                          <td valign="top"><p align="center">м3</p></td>
                          <td valign="top"><p align="center">1600 </p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Кирпичная кладка лицевая с расшивкой швов</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">1200</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Кладка шлакоблока</p></td>
                          <td valign="top"><p align="center">м3</p></td>
                          <td valign="top"><p align="center">1400</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Кладка пеноблока</p></td>
                          <td valign="top"><p align="center">м3</p></td>
                          <td valign="top"><p align="center">1200</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><h2 align="left">&nbsp;</h2></td>
                          <td valign="top"><p align="center"><strong>&nbsp;</strong></p></td>
                          <td valign="top"><p align="center"><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td valign="top"><h1>Отделочные работы</h1></td>
                          <td valign="top"><p align="center"><strong>&nbsp;</strong></p></td>
                          <td valign="top"><p align="center"><strong>&nbsp;</strong></p></td>
                        </tr>
                        <tr>
                          <td valign="top"><h1>Стены</h1></td>
                          <td valign="top"><p>&nbsp;</p></td>
                          <td valign="top"><p>&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Очистка стен от обоев/краски</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">50 </p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Демонтаж керамической плитки</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">150</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Демонтаж г/к перегородок</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">200</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Демонтаж кирпичных перегородок</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">450</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Демонтаж ж/б перегородок</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">850</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Демонтаж гипсолитовых перегородок</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">350</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Штукатурка стен по маякам гипсом</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">400</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Штукатурка стен по маякам раствором</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">500</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Снятие штукатурки со стен</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">150</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Штукатурка стен без маяков гипсом</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">280</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Шпатлёвка стен под покраску</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">330</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Шпатлёвка стен под обои</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">250</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Грунтовка</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">35</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Кирпичная кладка перегородок</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">900</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство перегородок из ГКЛ</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">450</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство перегородок из ГКЛ с утеплением</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">500</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Обшивка стен ГКЛ</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">350</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Обшивка колонн ГКЛ</p></td>
                          <td valign="top"><p align="center">п/м</p></td>
                          <td valign="top"><p align="center">600</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Штукатурка оконных и дверных откосов </p></td>
                          <td valign="top"><p align="center">п/м</p></td>
                          <td valign="top"><p align="center">450</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Облицовка стен плиткой керамической</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">700</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Окраска стен краской (2 слоя)</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">180</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Отделка вагонкой</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">450</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Отделка панелями МДФ</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">400</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Отделка жидкими обоями</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">450</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Оклейка стен обоями</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">200</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Установка перфорированных уголков</p></td>
                          <td valign="top"><p align="center">п/м</p></td>
                          <td valign="top"><p align="center">40</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Штроба под трубы, провода</p></td>
                          <td valign="top"><p align="center">п/м</p></td>
                          <td valign="top"><p align="center">80</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Пробивка отверстий под трубы, провода</p></td>
                          <td valign="top"><p align="center">шт</p></td>
                          <td valign="top"><p align="center">120</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Окраска стояков (2 слоя)</p></td>
                          <td valign="top"><p align="center">п/м</p></td>
                          <td valign="top"><p align="center">150</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Шпатлёвка оконных и дверных откосов</p></td>
                          <td valign="top"><p align="center">п/м</p></td>
                          <td valign="top"><p align="center">250</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>&nbsp;</p></td>
                          <td valign="top"><p align="center">&nbsp;</p></td>
                          <td valign="top"><p align="center">&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><h1>Потолок</h1></td>
                          <td valign="top"><p align="center">&nbsp;</p></td>
                          <td valign="top"><p align="center">&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Размывка потолка</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">100</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Очистка от обоев</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">70</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Грунтовка</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">40</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Армирование потолка метал. штукатурной сеткой</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">150</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Армирование поверхности потолка сеткой из стеклоткани</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">140</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Выравнивание гипсом </p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">470</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Шпатлёвка под покраску</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">370</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Оклейка обоями</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">250</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Оклейка плиткой </p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">150</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Облицовка вагонкой</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">420</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Окраска (2 слоя)</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">210</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство подвесного потолка (ГКЛ) </p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">450</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство подвесного потолка (пластик) </p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">400</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство подвесного потолка менее 10м2</p></td>
                          <td valign="top"><p align="center">шт</p></td>
                          <td valign="top"><p align="center">4000</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство подвесного потолка &rdquo;Армстронг&rdquo;</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">310 </p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Монтаж плинтуса </p></td>
                          <td valign="top"><p align="center">п/м</p></td>
                          <td valign="top"><p align="center">85 </p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Демонтаж потолка из ГКЛ</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">150</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Демонтаж фанеры</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">130</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Заделка швов между плитами</p></td>
                          <td valign="top"><p align="center">п/м</p></td>
                          <td valign="top"><p align="center">120</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>&nbsp;</p></td>
                          <td valign="top"><p align="center">&nbsp;</p></td>
                          <td valign="top"><p align="center">&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><h1>Пол</h1></td>
                          <td valign="top"><p align="center">&nbsp;</p></td>
                          <td valign="top"><p align="center">&nbsp;</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Демонтаж стяжки</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">130</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Монтаж стяжки по маякам</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">400</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство наливного пола</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">350</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство гидроизоляции</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">250</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Монтаж фанеры </p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">180</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство лаг пола</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">200</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Настил пола по лагам</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">250</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Покрытие лаком (1 слой)</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">70</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Настилка линолеума, ковролина</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">150</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Укладка ламината</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">250 </p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Укладка паркетной доски</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">300</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Установка плинтуса</p></td>
                          <td valign="top"><p align="center">п/м</p></td>
                          <td valign="top"><p align="center">80 </p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Облицовка плиткой керамической</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">800</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Облицовка ступеней, подиумов, откосов, коробов</p></td>
                          <td valign="top"><p align="center">п/м</p></td>
                          <td valign="top"><p align="center">850</p></td>
                        </tr>
                        <tr>
                          <td valign="top"><p>Устройство бетонного основания пола до 100 мм</p></td>
                          <td valign="top"><p align="center">м2</p></td>
                          <td valign="top"><p align="center">500</p></td>
                        </tr>
                      </table>
<p align="justify">&nbsp;</p>
                    </blockquote></td>
{% endblock %}
