{% extends 'works/base.html' %}

{% block content %}
<blockquote>
	<h1>Расчет стоимости строительства </h1>
	<p align="justify">На начальном этапе строительства дома составляется смета. Смета на строительство дома должна включать затраты на материал для возведения фундамента, стен, перекрытий крыши и стоимость работ. </p>
	<h2>Что входит стоимость коробки </h2>
	<p>- земляные работы, блочный или монолитный фундамент;</p>
	<p>- наружные стены из песко-цементных блоков и кирпича с утеплением;</p>
	<p>- перекрытия сборный ж/б, или деревянные (зависит от конструкции дома);</p>
	<p>- утепление верхнего перекрытия с пароизоляцией;</p>
	<p>- устройство кровли с покрытием-металлочерепица;</p>
	<p>- установка оконных блоков из ПВХ профиля и 2-х камерных стеклопакетов;</p>
	<p>- металлическая входная дверь.</p>
	<p align="justify">Стоимость материалов и монтажа дома, возводимого силами нашей компании составляет<strong> примерно 12000 рублей за м2</strong> общей площади. После предоставления нам проекта и технического задания, мы составляем смету и после согласования стоимости монтажа строения, заключаем договор с клиентом на строительство частного дома.</p>
	<p align="justify">Примерный срок готовности коробки дома составляет <strong>4 месяца.</strong></p>
</blockquote></td>
{% endblock %}
