{% extends 'works/base.html' %}
{% load static %}
{% block content %}
<td><blockquote>
<h1 align="left"><a href="{% url 'vibor_uchastka' %}">Выбор участка под строительство</a></h1>
<h1 align="left"><a href="{% url 'raschet' %}">Расчет стоимости строительства</a></h1>
<h1>Строительство</h1>
<p>- земляные работы (с вывозом и завозом грунта);<br />
	- устройство фундаментов (ФБС, монолит);<br />
	- возведение стен (кирпич, шлакоблок, пенобетон, газосиликат);<br />
	- устройство межэтажных перекрытий (плиты перекрытий, железобетонные перекрытия);<br />
	- устройство кровли (мягкая, жёсткая);<br />
	- устройство лестниц.</p>

<h1>Отделка</h1>
<p>- потолки (гипсокартон);<br />
	- стены (газосиликат, гипсокартон, плитка, штукатурка, окраска, обои);<br />
	- пол (плитка, ламинат).<p/>

<h1>Коммуникации</h1>
<p>- отопление (обвязка котла, водяной и электрический теплый пол, радиаторное отопление);<br />
	- вентиляция и дымоход;<br />
	- электрика;<br />
	- водоснабжение;<br />
	- канализация;<br />
	- телекоммуникации (интернет, телевидение, телефония, видеонаблюдение).<p/>

<h1>Благоустройство территорий</h1>
<p>- устройство ограждения (забор, ворота, калитка)<br />
	- укладка тротуарной плитки;<br />
	- озеленение;<p/>

<h1>Инфраструктура в коттедже</h1>
	<p>- устройство душевой;<br />
	- устройство бассейна;<br />
	- устройство сауны;<br />
	- кладка камина.<p/>

<h1>Дизайнерские услуги</h1>

<p align="justify">Мы оказываем услуги, как в комплексе, так и по отдельности.
	Наши услуги оплачиваются поэтапно, после принятия работ.
	<strong>Наша компания работает на территории Тульской и Московской области.</strong> Мы рады предложить более 1000 типовых проектов строительства в соответствии с каталогом решений от проектной компании plans.ru и с радостью проконсультируем Вас о возможных вариантах доработок проектов под ваши требования.
<p/>
</blockquote></td>
{% endblock %}
