{% extends 'works/base.html' %}

{% block content %}
<td><blockquote>
	<h1>Выбор участка под строительство</h1>
	<p align="justify">Компания  «ЭкранСтрой» осуществляет строительство на земельном участке заказчика. Если у Вас нет участка, то наша компания поможет Вам выбрать его. Наш специалист делает техническое заключение о возможности строительства на данном участке.</p>
	<p align="justify">Самая оптимальная площадь участка, как для строительства дома, так и для дворовых построек (гараж, баня, сад, детская площадка, беседка) - 12 соток (30х40 или 25х50 м). </p>
	Выбор участка - первый шаг в строительстве дома. Кроме юридических аспектов покупки участка, следует обратить внимание еще и на следующее:</p>
	<p>- возможность подключения газа; </p>
	<p>- возможность подключения электроэнергии; </h3>
	<p>- возможность подключения к центральному водопроводу; </h3>
	<p>- возможность подключения к централизованному водоотведению; </h3>
	<p>- наличие и состояние подъездных дорог;</h3>
	<p>- уровень грунтовых вод на участке;</h3>
	<p>- экологическая обстановка в районе; </h3>
	<p>- размеры участка, удаленность от соседних домов;</h3>
	<p> - рельеф участка. </h3>
</blockquote></td>
{% endblock %}
