{% extends "works/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Оставьте заявку</h1>
            <h3>{{ step }}</h3>
        </div>
    </div>

    {% if step_1 %}
        <form action="{% url 'online_registration:main_page' %}" method="GET" class="w-50 mx-auto">
            <div class="row">
                <div class="col-12 text-center">
                    <label for="start">Выберете дату:</label>
                    <input type="date" id="start" name="date" value="{{min_day_value}}" min="{{min_day_value}}" max="2030-01-01">
                    <button type="submit" class="btn btn-success">ДАЛЕЕ</button>
                </div>
            </div>
        </form>
    {% endif %}

    {% if step_2 %}
        <h3 class="text-center">Выбрана дата: {{choised_day}}</h3>
        <form action="{% url 'online_registration:thanks_page' %}" method="POST" class="w-50 mx-auto">
        {% csrf_token %}

            <div class="row">
                <div class="col-12 text-center">
                    <label for="select">Выберете доступное время:</label>
                    <select name="time" id="select" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                        {% for time in all_time %}
                            <option value="{{time}}">{{time}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <label for="name">Имя</label>
                    <input type="text" value="" name="name" class="form-control">
                    <label for="phone">Телефон</label>
                    <input type="text" value="" name="phone" class="form-control">
                </div>
            </div>

            <input type="hidden" name="date" value="{{choised_day}}">

            <div class="row">
                <div class="col-6 text-center">
                    <a href="{% url 'online_registration:main_page' %}" type="submit" class="btn btn-danger">ВЫБРАТЬ ДРУГУЮ ДАТУ</a>
                </div>
                <div class="col-6 text-center">
                    <button type="submit" class="btn btn-success">ОТПРАВИТЬ ЗАЯВКУ</button>
                </div>
            </div>
        </form>
    {% endif %}
    </div>
{% endblock %}
