{% load likes_blog %}

{% is_liked blog_post_id as is_liked_bool %}

{% if is_liked_bool %}
    {% count_likes blog_post_id as likes_counter %}
    {% blog_likes_id blog_post_id as blog_likes_id %}
{% endif %}

<form action="
    {% if not is_liked_bool %}
    {% url 'likes:add'%}
    {% else %}
    {% url 'likes:remove'%}
    {% endif %}
" method="post">
{% csrf_token %}

    <input type="hidden" name="blog_post_id" value="{{ blog_post_id }}">
    <input type="hidden" name="user_id" value="{{ request.user.id }}">
    <input type="hidden" name="url_form" value="{{ request.path }}">

    {% if is_liked_bool %}
        <input type="hidden" name="blog_likes_id" value="{{ blog_likes_id }}">
    {% endif %}

    {% if user.is_authenticated %}

    <div class="form-group">
        <button type="submit" class="btn btn-primary">
            {% if likes_counter %}
            <span>
                Удалить из избранного
            </span>
            {% else %}
            Добавить в избранное
            {% endif %}
        </button>
    </div>

    {% endif %}
</form>
